<% if (correct) { %>
   <h2>Correct!</h2>
   <div style='font-size:100px'>🍍</div>
  <div>The secret code is <b>guava</b></div>
<% } else { %>
  <p>
    Create a chrome extension that <em>adds</em> a header with the <em>name</em> <b>x-secret-code</b>
    and the value <b>pineapple</b> and then reload this page to get the secret code.
  </p>

<ul>
  <li>
    Having trouble? Try visiting <a href='/debug/headers'>this page</a> to see what headers you are sending.
  </li>
  <li>
    Review docs on Chrome extension <a href='https://developer.chrome.com/extensions/webRequest'>webRequest blocking and modifying</a>.
  </li>
  <li>
    Check out the class <a href='https://github.com/ITPNYU/hacking-the-browser/blob/master/unloginable/background.js'>unloginable</a>
    and <a href='https://github.com/ITPNYU/hacking-the-browser/tree/master/google-en-espanol'>google en español</a>
    example extensions.
  </li>
</ul>
<% } %>
