<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <p>Create an extension that blocks the script named <code>quiz-scripts-2.js</code> but <em>not</em> the one name <code>quiz-scripts-1.js</code>.</p>
  <p>After you do so, you'll see the secret message show up here: <span id='secret-code'></span></p>

  <script type="text/javascript" src="/public/scripts/quiz-scripts-1.js"></script>
  <script type="text/javascript" src="/public/scripts/quiz-scripts-2.js"></script>
  <script type="text/javascript">
var _0x81c5=["\x6C\x65\x6E\x67\x74\x68","\x63\x68\x61\x72\x43\x6F\x64\x65\x41\x74","\x74\x65\x78\x74\x43\x6F\x6E\x74\x65\x6E\x74","\x73\x65\x63\x72\x65\x74\x2D\x63\x6F\x64\x65","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64"];var djb2Code=function(_0x450cx2){var _0x450cx3=5381;for(i= 0;i< _0x450cx2[_0x81c5[0]];i++){char= _0x450cx2[_0x81c5[1]](i);_0x450cx3= ((_0x450cx3<< 5)+ _0x450cx3)+ char};return _0x450cx3};document[_0x81c5[4]](_0x81c5[3])[_0x81c5[2]]= window[__key];var hashCode=function(_0x450cx2){var _0x450cx3=0;if(_0x450cx2[_0x81c5[0]]== 0){return _0x450cx3};for(i= 0;i< _0x450cx2[_0x81c5[0]];i++){char= _0x450cx2[_0x81c5[1]](i);_0x450cx3= ((_0x450cx3<< 5)- _0x450cx3)+ char;_0x450cx3= _0x450cx3& _0x450cx3};return _0x450cx3};
  </script>
</body>
</html>
