<!DOCTYPE html>
<html>
<head>
<script src="/public/scripts/quiz-debugger1.js"></script>
<script src="/public/scripts/quiz-debugger2.js"></script>
</head>
<body>
  <h1>Debugger</h1>
  <p>To solve this puzzle, you need to open the developer tools and reload the page.</p>
  <p>The javascripts on this page include a <code>debugger</code> statement that will pause the execution of the code.</p>
  <p>While the code is paused, look at the <em>call stack</em> to figure out the name of the function that called the <code>init</code> function.</p>
  <p>If you have trouble, look at Chrome's documentation about <a href='https://developers.google.com/web/tools/chrome-devtools/javascript/reference#call-stack'>viewing the call stack in the inspector</a>.</p>
</body>
</html>
